@model List<Category>;


@{
   ViewBag.Title = "Categories";
}

@section mainTitle {

   <h1>Categories</h1>
}

@if (Model != null && Model.Count > 0)
{
   <table class="table table-striped">
   <thead>
      <tr>

  </thead>
   <tbody>
      @{
            int i = 1;
            @foreach (var category in Model)
            {
               <tr>
                  <td> @(i++) </td>
                  <td>@category.Name</td>
                  <td>@category.Description</td>
                  <td>
                     <a href="@($"/categories/edit/{category.CategoryId}")" class="btn btn-primary">Edit</a>
                  </td>
               </tr>

            }
         }
      </tbody>
   </table>
   <div class="mt-5">
   <a asp-controller="categories" asp-action="add" class="btn btn-primary">Add</a>
</div>


}